In [261]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [91]:
df = pd.read_excel('merged.xlsx')

In [262]:
contractor = df[['法人番号', 'contractor', 'JFY']]

In [263]:
contractor['法人番号'][contractor['法人番号'].notnull()] = contractor['法人番号'][contractor['法人番号'].notnull()].astype(int)
contractor['法人番号'][contractor['法人番号'].notnull()] = contractor['法人番号'][contractor['法人番号'].notnull()].astype(str)

In [265]:
unique_df = contractor[['法人番号', 'contractor']]
unique_df = unique_df[~unique_df.duplicated()]

In [266]:
non_null_cont = list(unique_df['contractor'][unique_df['法人番号'].notnull()])

In [267]:
unique_df['remove'] = 0
unique_df['remove'][unique_df['法人番号'].isnull() & unique_df['contractor'].isin(non_null_cont)] = 1

In [268]:
unique_df = unique_df[unique_df['remove'] != 1]

In [269]:
contractor = contractor.dropna(subset=['法人番号'])

In [271]:
contractor = contractor.sort_values('JFY').reset_index(drop=True)

In [272]:
contractor = contractor[contractor.duplicated(subset='法人番号', keep='last')==False]

In [273]:
contractor = contractor.reset_index(drop=True)

In [274]:
contractor = contractor[['法人番号', 'contractor']]

In [275]:
unique_df = unique_df[['法人番号', 'contractor']]

In [276]:
df_merged = pd.merge(unique_df, contractor, how='left', left_on =["法人番号"], right_on =["法人番号"])

In [278]:
df_merged.columns = ['contractor_id', 'contractor_name_old', 'contractor_name']

In [279]:
df_merged

        contractor_id contractor_name_old  contractor_name
0     7010401022916.0            日本電気株式会社         日本電気株式会社
1                 NaN                米空軍省              NaN
2     1010001089519.0            新成物産株式会社         新成物産株式会社
3                 NaN                米陸軍省              NaN
4     4010401036687.0     株式会社ENEOSサンエナジー  株式会社ENEOSサンエナジー
...               ...                 ...              ...
1527              NaN         オノデラ制作所株式会社              NaN
1528              NaN            湧永製薬株式会社              NaN
1529              NaN            光洋商事株式会社              NaN
1530              NaN          株式会社ライトボーイ              NaN
1531              NaN         東洋事務器工業株式会社              NaN

[1532 rows x 3 columns]

In [260]:
df_merged.to_excel('test.xlsx', index=False)

In [ ]:
# contractor.to_excel('contractor_id.xlsx', index=False)

In [311]:
contractors = pd.read_excel('/Users/rairaokuno/atla_contract/data/contractors/contractors.xlsx')
for i, r in enumerate(contractors['fomer_name']):
    print(i, r)
    print(contractors['current_name'][i])

0 富士重工業株式会社
株式会社SUBARU
1 test
test

In [300]:
contractors[]

     contractor_id fomer_name current_name
0  5011101019196.0  富士重工業株式会社   株式会社SUBARU
1             test       test         test

In [ ]:
contractors = pd.read_excel('/Users/rairaokuno/atla_contract/data/contractors/contractors.xlsx')
for i, r in enumerate(contractors):
    id = r[0]
    former = r[1]
    current = r[2]
    if former in df['contractor']:
        df['法人番号'][df['contractor'] == former] = id
    else:
        print('pass')
return df