In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('merged.csv')

/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (2,3,4,5,8,9,10,13,14,15,16,18,19,20,22,24,25,27,28,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df['法人番号'] = df['法人番号'].astype(str)

In [8]:
df.groupby(['法人番号', 'contractor']).agg({'contractor':'count'})

                                   contractor
法人番号            contractor
1010001008651.0 ウシオ電機株式会社                   1
1010001008692.0 住友商事株式会社                    5
1010001008791.0 株式会社ミクニ                     1
1010001018733.0 伸誠商事株式会社                   21
1010001020185.0 住商エアロシステム株式会社              92
...                                       ...
nan             高松令三商店                      8
                高速マリン・トランスポート株式会社           1
                髙木綱業株式会社                    4
                髙松令三商店                      2
                齋田産業株式会社                    2

[2190 rows x 1 columns]

In [40]:
contractor = df[['法人番号', 'contractor', 'JFY']]

In [39]:
# contractor = contractor.groupby(['法人番号', 'contractor']).agg({'JFY':'max'})

In [56]:
contractor = contractor[contractor['法人番号']!='nan']

In [57]:

contractor.sort()

              法人番号       contractor     JFY
0  7010401022916.0         日本電気株式会社  2019.0
2  1010001089519.0         新成物産株式会社  2019.0
4  4010401036687.0  株式会社ENEOSサンエナジー  2019.0
5  4030002050557.0     有限会社小柳ルブサービス  2019.0
6  4030002050557.0     有限会社小柳ルブサービス  2019.0